spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order_db
    username: namora
    password: password
  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: localhost:9092