server:
  port: 8087

spring:
  application:
    name: DISPATCH-SERVICE

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: dispatch-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  data:
    redis:
      host: localhost
      port: 6379